body {
  font-family: Arial;
  text-align: center;
}

.card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

.dark {
  background-color: #121212;
  color: white;
}
